.resaltar-pocos-revisores {
    background-color: #ffe6e6 !important;
}

.coincide-topico {
    background-color: #d1ffd1 !important; /* verde claro */
    font-weight: bold;
}

.coincide-topico-celda {
    background-color: #d1ffd1 !important; /* verde claro */
}

.topico-coincidente {
    color: #1565c0;
    text-decoration: none;
    font-weight: normal;
    font-weight: bold;
}